### Feature Scaling Tutorial

In [3]:
import numpy as np
import pandas as pd

In [5]:
data1 = pd.read_csv('Melbourne_housing_FULL.csv')
data1.head()

,Suburb,Address,Rooms,Type,Method,SellerG,Date,Distance,Postcode,Bedroom,...,Landsize,BuildingArea,YearBuilt,CouncilArea,Latitude,Longtitude,Regionname,Propertycount,ParkingArea,Price
0,Abbotsford,68 Studley St,2,h,SS,Jellis,3/9/2016,2.5,3067.0,2.0,...,126.0,inf,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0,Carport,NaN
1,Airport West,154 Halsey Rd,3,t,PI,Nelson,3/9/2016,13.5,3042.0,3.0,...,303.0,225,2016.0,Moonee Valley City Council,-37.7180,144.8780,Western Metropolitan,3464.0,Detached Garage,840000.0
2,Albert Park,105 Kerferd Rd,2,h,S,hockingstuart,3/9/2016,3.3,3206.0,2.0,...,120.0,82,1900.0,Port Phillip City Council,-37.8459,144.9555,Southern Metropolitan,3280.0,Attached Garage,1275000.0
3,Albert Park,85 Richardson St,2,h,S,Thomson,3/9/2016,3.3,3206.0,2.0,...,159.0,inf,NaN,Port Phillip City Council,-37.8450,144.9538,Southern Metropolitan,3280.0,Indoor,1455000.0
4,Alphington,30 Austin St,3,h,SN,McGrath,3/9/2016,6.4,3078.0,3.0,...,174.0,122,2003.0,Darebin City Council,-37.7818,145.0198,Northern Metropolitan,2211.0,Parkade,NaN

### Standardisation -  Z-score Normalisation

#Scales the data. Essentially returns the z-scores of every attribute

from sklearn.preprocessing import StandardScaler

std_scale = StandardScaler()

std_scale

In [7]:
data1['Bedroom_Stdscale'] = std_scale.fit_transform(data1[['Bedroom']]) # returns z-scores of the values of the attribute

In [8]:
data1['Bedroom_Stdscale'].head()

0   -1.106025
1   -0.086316
2   -1.106025
3   -1.106025
4   -0.086316
Name: Bedroom_Stdscale, dtype: float64

### Mean Normalization

In [9]:
# Normalize data (length of 1) 
from sklearn.preprocessing import Normalizer 
scaler = Normalizer()
data1['Bedroom_Normscale'] = std_scale.fit_transform(data1[['Bedroom']])
data1['Bedroom_Normscale'].head()

0   -1.106025
1   -0.086316
2   -1.106025
3   -1.106025
4   -0.086316
Name: Bedroom_Normscale, dtype: float64

### Min-Max Scaling

In [10]:
# MinMaxScaler normalizes the data using the formula (x - min)/(max - min)
from sklearn.preprocessing import MinMaxScaler

minmax_scale = MinMaxScaler()

minmax_scale
data1['Car_MinMaxScale'] = minmax_scale.fit_transform(data1[['Car']])
data1['Car_MinMaxScale'].head(5)

0    0.038462
1    0.038462
2    0.000000
3    0.000000
4    0.038462
Name: Car_MinMaxScale, dtype: float64

In [11]:
data1['Car_MinMaxScale'].min(), data1['Car_MinMaxScale'].max()

(0.0, 1.0)